
<div class="result" id="result">
  <h1> played words</h1>
  <table>
    <tr>
     <th>Player</th>
     <th>Word</th>
     <th>score</th>         
    </tr>

<%@game.playedWords.size.times do |i| %>      
    <tr>
    <td><%=@game.playedWords[i].player.name%></td>
    <td><%=@game.playedWords[i].word%></td>
     <td><%=@game.playedWords[i].word.length%></td>
    </tr>
  <%end%>
  
  </table>
</div>