<%#
# author : Amha Bekele
%>

<h1> Top 5 players </h1>
<table>
  <th>Rank </th>
  <th>Name</th>
  <th>Total won games</th>
  <th>Total Score</th>
  <%rank=0%>
<%@players.each do |player| %>
<%rank+=1%>
  <tr>
    <td> <%=rank%></td>
    <td><%=player.name%></td>
    <td><%=player.totalWins%></td>
    <td><%=player.totalScore%></td>   
  </tr>

<%end %>
</table>