<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h1> MENU </h1>
<ul>
  <li>New Game</li>
  <li>Saved games</li>
  <li>High scores</li>
  <li>Credits</>
</ul>
