
<div class="menu">
<h1> MENU </h1>
<h3 class="current_player"> Hello <%=session[:player].name%> </h3>


  <div> <%=link_to 'New Game','pick_challenger'%></div>
  <div> <%=link_to 'Proposed games','proposed_games'%></div>
  <div><%=link_to 'High Scores','high_score'%></div>
  <div>Credits</div>

</div>