

<h1> MENU </h1>
<h3 class="current_player"> Hello <%=session[:player].name%> </h3>
<ul>
  <li> <%=link_to 'New Game','pick_challenger'%></li>
  <li> <%=link_to 'Proposed games','proposed_games'%></li>
  <li>High scores</li>
  <li>Credits</>
</ul>