<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<table >
<%5.times do |i|%>
  <tr>
    
    <%5.times  do |j|%>
    <td class="c"<%=i%><%=j%> onClick=alert("click")> <%=i%>.<%=j%></td>
    <%end%>
  </tr>
<%end%>

</table>
