<%#
# author : Amha Bekele
%>
<div class="container">
<h1>Listing players</h1>
<table>
  <th>Name</th>
  <th>Total won games</th>
  <th>Total Score</th>
<%@players.each do |player| %>

  <tr>
    <td><%=player.name%></td>
    <td><%=player.totalWins%></td>
    <td><%=player.totalScore%></td>
    <td><%=link_to 'challenge',:controller=>"game",:action=>"new_game",:id=>player.name%></td>
  </tr>

<%end %>
</table>


  
</div>  