/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 /*
 <%
 author : Amha Bekele
%>
 */
 *{
     margin:0;
     padding:0;
         
 }
.header{
    color:white;
    font-size: 3em;
    background:#3bbfce;    
    text-align:center;
    border-radius:5px;
    width:98%;
    margin:0 auto;
}

.logo{
    width:10%;
    heigth:10%;
}

.error{
    color:red;
    margin-left:10%;
}

.notice{
    color:green;
    margin-left:10%;
}
.back_to_menu,.game_number{
margin-left: 2%;
}
.sign_out{
    float:right;
    margin-right: 2%;
}