// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #3bbfce;
$margin: 16px;
$border: 1px;
*{
     margin:0;
     padding:0;         
 }
#grid {

    margin-left: auto;
    margin-right:auto;
    border: $border $blue solid;
    border-radius:3px; 
}
#grid th{
    border: $border $blue solid;
    padding-right: 10%;
    
}
#grid td{
    border: 1px $blue solid;
    height: 50px;
    width : 50px;
    text-align: center;
    border-radius:3px;    
}

.result {

float: right;
margin-right:2%;
margin-top: 3%;
background:$blue;
color:white;
border-radius:3px; 

}
.title{
color:white;
}
.resultTable{
border: 1px $blue solid;
text-align:center;
margin-top: 3%;

}
.thead{
font-weight:bold;
}

.result span{
border: 1px $blue solid;
width: 30%;
height: 20px;
 display: inline-block;
}

#dialog{
    border: 1px $blue solid;
    border-radius: 5px;
    width:30%;
    height: 10%;
    display:none;
    margin: 10% auto;
    background:$blue;
    color:white;

}

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }

input {margin: 2%}

#letter{
    width: 20px;
}
#submit{
     border-radius: 2px;
     width:20%;
     height:10%;
     margin-left:auto;
}

.back_to_menu{
margin-left: 2%;
}