// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #3bbfce;
.menu {
    margin: 5% auto;
    border-radius:3px; 
    width:50%;
    border: 1px $blue solid;
    padding-left:2%;
    color: $blue;

}